<div id="main-container">
  <div id="search-container">
    <span>Término de búsqueda</span>
    <form id="search-form">
      <mat-form-field id="search-full-width">
        <mat-label>Busca un lugar...</mat-label>
        <input
          type="text"
          matInput
          [formControl]="searchTerm"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>

  <mat-divider></mat-divider>

</div>
