<div id="main-container">
  <div id="search-container">
    <span>Buscando en: {{ citySearched }}</span>
    <form id="search-form">
      <mat-form-field id="search-full-width">
        <mat-label>Busca un lugar...</mat-label>
        <input
          type="text"
          matInput
          [formControl]="searchTerm"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          [displayWith]="displayFn"
          (optionSelected)="onOptionSelected($event.option.value)"
        >
          @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{
            option.city + " - " + option.region
          }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>

  <mat-divider></mat-divider>

  <div id="graphs-container">
    <canvas id="precipChart"></canvas>
    ho
  </div>
</div>
