<footer id="footer">
  <div id="container">
    <div id="footer-row">
      <div class="footer-links">
        <h4>Sergio Sánchez Iglesias</h4>
        <ul>
          <li><a href="https://github.com/SergioSanchezIglesias/Pokemon-Wiki" target="_blank">Pokemon Wiki</a></li>
          <li><a href="https://github.com/SergioSanchezIglesias/Gestor_Passwords" target="_blank">Gestor de contraseñas</a></li>
        </ul>
      </div>

      <div class="footer-links">
        <h4>Mis Redes</h4>
        <div id="social-link">
          <a href="https://github.com/SergioSanchezIglesias" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/sergio-s%C3%A1nchez-iglesias-801a82255/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
